@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

body{
    background-color: rgb(61, 59, 59);
}

header{
    text-align: center;
    font-size: 20px;
}
div#dados{
    text-align: justify;
}
section{
    padding: 32px;
    width: 400px;
    border-radius: 10px;
    margin: auto;  
    box-shadow: 3px 3px 10px rgb(68, 68, 68); 
    background-color: rgb(247, 246, 245); 
}

footer{
    text-align: center;
}
h2{
    font-family: 'Rowdies', cursive;
}

div#resultado{

    padding-top: 5px;
    text-align: justify;
    font-weight: bolder;

}
button#btnContar{
   float: none;
}
/* limpas as setas do campo do input tipo Number*/
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}